.section.about {
  margin: 0;
  .section__container {
    grid-template-columns: 2fr 1fr;
  }
  h2 {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  .section.about {
    .section__container {
      grid-template-columns: 1fr;
    }
  }
}
